---
---

@charset "utf-8";

// import theme FIRST
@import "minimal-mistakes";

// your styles
body {
  background-color: #FFB6D9;
  font-family: 'Times New Roman', serif;
  font-size: 16px;
}

.search-content,
.search-input {
  border: 2px solid #FF1493;
}

h1 {
  color: #FF1493;
  font-size: 18px;
}